@import "../../../styles/styleguide.scss";

.container {
  width: 266px;
  max-width: 266px;
  display: block;
  height: auto;
  margin: 10px;
  position: relative;
  border: 1px solid #ededed;
  border-radius: 5px;

  &:hover {
    transform: translateY(-7px);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  }

  .img {
    height: 213px;
    width: 266px;
    border: 1px solid #ededed;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &.logo {
      object-fit: cover;
    }
  }

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 213px;
    width: 266px;
    background: rgba(39, 46, 55, 0.9);
    opacity: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &:hover {
      opacity: 1;
    }

    .buttons {
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
        text-decoration: none;
        border: none;
        width: 90px;
        height: 30px;
        background-color: transparent;
        color: $white;
        border-radius: 5px;
        font-size: 22px;

        .icon {
          width: 18px;
          height: 18px;
          margin-right: 2px;
        }
      }
    }

    &:hover {
      visibility: initial;
    }
  }

  .title {
    font-size: 18px;
    color: $gray-title;
    font-weight: 600;
    text-align: center;
  }

  .type {
    font-size: 12px;
    color: $gray-secondary;
    text-align: center;
  }

  .description {
    font-size: 12px;
    color: $gray-title;
    text-align: center;
    margin: 15px;
    height: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
