@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

$sen-sans: "PT Sans", sans-serif;
$alex-brush: "Alex Brush", cursive;
$titles: "Merriweather Sans", sans-serif;
