@import "./styleguide.scss";

.button-link {
  font-size: 1.5rem;
  color: $white;
  background-color: $primary;
  border-radius: 8px;
  padding: 1.75rem 0.75rem;
  outline: none;
  border: 1px $primary solid;
  display: inline-flex;
  align-items: center;
  position: relative;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $primary;
    background-color: $white;
  }
}