@import "../../../styles/styleguide.scss";

.container {
  width: 100%;
  height: auto;
  background-color: $gray-footer;
  overflow: hidden;
  font-family: $sen-sans;
  color: $white;
  padding: 60px 0 30px 0;
  position: relative;
}

.content {
  display: block;
  max-width: $max-width;
  display: flex;
  justify-content: space-around;
}

.caret {
  width: 32px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, $primary 50%, $gray-footer 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;

  svg {
    transform: rotate(180deg);
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    background-position: left bottom;
  }
}

.title {
  font-size: 3.2rem;
  text-align: center;
  font-family: $alex-brush;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
  }
}

.text {
  font-size: 1.4rem;
  color: $gray-secondary;
  margin: 5px 0;
  display: flex;
  align-items: center;

  span {
    margin-left: 2px;
    font-weight: 700;
  }

  svg {
    fill: $primary;
  }

  &.position {
    display: block;
    margin: 10px;
    text-align: center;
  }
}

.contactTitle {
  font-size: 2.4rem;
  font-family: $titles;
  font-weight: 600;
  border-bottom: 3px $white solid;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 6px 0;
}

.social {
  margin: 30px auto;
  width: 58px;
  display: flex;
}

.link {
  border-radius: 50%;
  border: 2px solid $primary;
  height: 18px;
  width: 18px;
  margin-right: 3px;

  &:hover {
    background-color: $primary;
    border: 2px solid $gray-footer;

    svg {
      path {
        fill: $gray-footer;
      }
      rect {
        fill: $gray-footer;
      }
      circle {
        fill: $gray-footer;
      }
    }
  }
}

.fullWidth {
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 40px 0 30px 0;
  }

  .content {
    width: 100%;
    display: block;
  }

  .text {
    margin: 5px 0;

    &.position {
      margin: 3px;
    }
  }

  .social {
    margin: 10px auto;
    width: 58px;
  }

  .contactTitle {
    margin: 20px auto 0 auto;
  }

  .contact {
    padding-left: 23vw;
  }
}
