@import "../../../styles/styleguide.scss";

.container {
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
  background-color: $white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  overflow-x: hidden;

  .title {
    font-size: 3.1rem;
    color: $gray-title;
    font-weight: 400;
    border-bottom: 3px $primary solid;
    margin: 10px 0 40px 0;
    display: inline-block;
    padding: 6px 0;
  }

  .timeline {
    border-left: 3px solid $primary;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    left: 15%;
    padding: 0 30px;
    width: 100%;
    max-width: 1180px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 80px 0;
  }
}
