@import "../../../styles/styleguide.scss";

.container {
  padding-bottom: 0;
  overflow: hidden;
}

.subtitle {
  margin: 10px 0 40px 0;
}

.items {
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: $max-width;
  overflow: hidden;
  background-color: $gray-footer;
  padding: 80px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 10px -3px $box_shadow;
  -moz-box-shadow: 2px 5px 10px -3px $box_shadow;
  box-shadow: 3px 5px 10px 3px $box_shadow;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.caretNext {
  position: absolute;
  top: 50%;
  right: 24px;

  svg {
    transform: rotate(-90deg);
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);

    svg {
      path {
        stroke: $primary;
      }
    }
  }
}

.caretPrev {
  position: absolute;
  top: 50%;
  left: 24px;

  svg {
    transform: rotate(90deg);
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);

    svg {
      path {
        stroke: $primary;
      }
    }
  }
}

.infoContainer {
  width: 100%;
  height: auto;
  background-image: radial-gradient(circle, #00d4ff, #0460c7);
}

.info {
  display: flex;
  flex-wrap: wrap;
  max-width: 920px;
  margin: 15px auto;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 0;
}

.item {
  min-height: 100px;
  color: $white;
  position: relative;
  top: 180px;
  transition: transform 0.5s ease;

  &.middle {
    transition: transform 1s ease;
  }

  &.last {
    transition: transform 1.5s ease;
  }
}

.moveUp {
  transform: translateY(-180px);
}

.img {
  height: 80px;
  width: 80px;
}

.name {
  font-size: 2rem;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .container {
    padding-top: 40px;
  }

  .items {
    padding: 40px;
    border-radius: 0;
  }

  .caretNext {
    right: 17px;

    &:hover {
      svg {
        path {
          stroke: $white;
        }
      }
    }
  }

  .caretPrev {
    left: 4px;

    &:hover {
      svg {
        path {
          stroke: $white;
        }
      }
    }
  }

  .infoContainer {
    margin-top: 40px;
  }

  .info {
    width: 100%;
    padding: 15px 0;
  }

  .item {
    justify-content: center;
    width: 67%;
    height: 120px;
    border-bottom: 1px $white solid;
    padding: 10px;
    margin: 0 auto;
    top: 0;

    &.last {
      border-bottom: none;
    }
  }

  .name {
    text-align: center;
    margin-bottom: 5px;
  }
}
