@import "../../../styles/styleguide.scss";

.container {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0 0 0;
  text-align: center;
  background-color: $white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  overflow-x: hidden;

  .title {
    font-size: 30px;
    color: $gray-title;
    border-bottom: 3px $primary solid;
    margin: 10px 0;
    display: inline-block;
    padding: 6px 0;
    font-weight: 400;
  }

  .text {
    color: $gray-title;
    margin: 15px auto 70px auto;
    text-align: center;
    max-width: 920px;
    line-height: 1.7;
    font-weight: 300;
    font-size: 20px;
  }

  .infoContainer {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, #0460c7, #0cc7b1);

    .info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 920px;
      margin: 15px auto;
      justify-content: space-between;
      margin: 0 auto;
      padding: 60px 0;

      .item {
        height: 140px;

        .img {
          height: 50px;
          width: 50px;
        }
        .name {
          color: $white;
          font-size: 22px;
          text-align: center;
        }
        .description {
          color: $white;
          font-size: 14px;
          max-width: 200px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;

    .text {
      margin: 15px 10px;
      line-height: 1.4;
    }

    .info {
      width: 100%;

      .item {
        justify-content: center;
        margin: 0 auto;

        .img {
          height: 40px;
          width: 40px;
        }
        .name {
          color: $gray-title;
          font-size: 16px;
          text-align: center;
        }
        .description {
          color: $gray-secondary;
          font-size: 12px;
          max-width: 120px;
        }
      }
    }
  }
}
