@import "../../../styles/styleguide.scss";

@keyframes title {
  0% {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    left: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes photo {
  0% {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    left: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

.container {
  position: relative;
  height: 89vh;
  background-color: $primary;
  background-image: linear-gradient(to right, $primary, #45a2da);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

  .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width;
    margin: 0 auto;
  }
}

.textContainer {
  color: $white;
  z-index: 1;
  width: 50%;

  .photo {
    display: none;
  }

  .title {
    font-size: 7.3vh;
    font-family: $titles;
    font-weight: 600;
    left: 10px;
    opacity: 0;
    position: relative;
    animation: title 1.5s 0.5s ease forwards;
    -webkit-animation: title 1.5s 0.5s ease forwards;

    span {
      color: #613189;
    }
  }

  .subtitle {
    font-size: 3vh;
    margin-bottom: 25px;
    max-width: 660px;
    font-weight: 400;
    position: relative;
    opacity: 0;
    left: 10px;
    animation: title 1.5s 0.7s ease forwards;
    -webkit-animation: title 1.5s 0.7s ease forwards;
  }

  .images {
    display: flex;
    position: relative;
    opacity: 0;
    left: 10px;
    animation: title 1.5s 0.8s ease forwards;
    -webkit-animation: title 1.5s 0.8s ease forwards;

    .logo {
      height: 15vh;
      width: 15vh;
      margin: 0 5px;
    }
  }
}

.photoContainer {
  height: 100%;
  width: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  position: relative;

  img {
    border-radius: 50%;
    height: 35vh;
    width: 35vh;
    border: 5px solid #613189;
    opacity: 0;
    animation: photo 1.5s 0.5s ease forwards;
    -webkit-animation: photo 1.5s 0.5s ease forwards;
  }
}

.wave {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 65%;
  border-bottom-right-radius: 80%;
  border-bottom-left-radius: 35%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 0;
}

@media only screen and (max-width: 1280px) {
  .textContainer {
    .title {
      font-size: 4rem;
    }
    .subtitle {
      font-size: 3rem;
    }
    .images {
      margin-left: 40px;

      .logo {
        height: 12vh;
        width: 12vh;
      }
    }
  }
  .photoContainer {
    img {
      height: 25vh;
      width: 25vh;
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    height: 77vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 40%;
  }
  .textContainer {
    margin: 0 15px;
    width: 100%;

    .photo {
      margin-top: 20px;
      display: block;
      border-radius: 50%;
      height: 20vh;
      width: 20vh;
      border: 5px solid #613189;
      opacity: 0;
      animation: title 1.5s 0.5s ease forwards;
      -webkit-animation: title 1.5s 0.5s ease forwards;
    }

    .title {
      font-size: 3rem;
    }

    .subtitle {
      margin-right: 20px;
      font-size: 1.5rem;
    }

    .images {
      .logo {
        height: 10vh;
        width: 10vh;
      }
    }
  }
  .photoContainer {
    display: none;
  }
  .wave {
    border-bottom-left-radius: 0;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .container {
    border-bottom-left-radius: 40%;
  }

  .textContainer {
    .photo {
      display: none;
    }

    .title {
      font-size: 6.5vh;
    }

    .subtitle {
      font-size: 3.5vh;
      max-width: 50%;
    }

    .images {
      padding-left: 20px;
      .logo {
        height: 13vh;
        width: 13vh;
      }
    }
  }

  .photoContainer {
    display: flex;
    padding-bottom: 0;
  }

  .wave {
    border-bottom-left-radius: 35%;
  }
}
