@import "../../../styles/styleguide.scss";

:global {
  .simpleParallax {
    width: 100% !important;
  }
}

@keyframes title {
  0% {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    left: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 89vh;

  .content {
    width: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    display: flex;
  }
}

.image {
  width: 100%;
  height: 89vh;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.textContainer {
  position: absolute;
  width: 100%;
  bottom: 20%;
  max-width: $max-width;
  min-height: 227px;
  text-align: left;
  z-index: 5;
  color: $white;

  .title {
    font-size: 6.8vh;
    height: 10vh;
    font-family: $titles;
    font-weight: 500;
    margin: 0;
    opacity: 0;
    left: 10px;
    position: relative;
    animation: title 1.5s 0.5s ease forwards;
    -webkit-animation: title 1.5s 0.5s ease forwards;
  }

  .subtitle {
    font-size: 2.8vh;
    margin-bottom: 25px;
    max-width: 660px;
    font-weight: 400;
    position: relative;
    opacity: 0;
    left: 10px;
    animation: title 1.5s 0.7s ease forwards;
    -webkit-animation: title 1.5s 0.7s ease forwards;
  }

  .images {
    display: flex;
    position: relative;
    opacity: 0;
    left: 10px;
    animation: title 1.5s 0.8s ease forwards;
    -webkit-animation: title 1.5s 0.8s ease forwards;

    .logo {
      height: 13vh;
      width: 13vh;
      margin: 0 5px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    height: 77vh;
  }
  .image {
    height: 77vh;
  }
  .textContainer {
    top: 40%;
    bottom: auto;
    margin: 0 15px;

    .title {
      font-size: 3rem;
      height: 10vh;
    }

    .subtitle {
      margin-right: 20px;
      font-size: 1.5rem;
    }

    .images {
      .logo {
        height: 10vh;
        width: 10vh;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .textContainer {
    .title {
      font-size: 6.5vh;
      height: 12.5vh;
    }

    .subtitle {
      font-size: 3vh;
    }

    .images {
      .logo {
        height: 13vh;
        width: 13vh;
      }
    }
  }
}

@media only screen and (max-width: 1256px) {
  .textContainer {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
}
